


body{
    background-color: blue;
    color: white;
    font-size: min(10vh, 10vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: inherit; /* Use the existing background color */
    }
}