html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;  
    width: 100vw;      
    height: 100vh;  
    background-color: #01b0f1;

    touch-action: none; /* Prevents touch scrolling */
    overscroll-behavior: none; /* Prevents scroll bounce */
    scroll-snap-type: none;
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* Prevent selection in Safari (iOS) */
    -moz-user-select: none;
    -ms-user-select: none;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.threeStripe{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center; /* Horizontally centers middleStripe */
}

.middleStripe{
    width: 60vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#content{
    color: white;
    width: 100vh; 
    height: 60vw;
    transform: rotate(-90deg); 
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    font-size: calc(min(8vw, 8vh));
    padding: min(2vh, 2vw);
}


#returnToIndex {
    position: fixed;
    width: 20vw;
    height: 10vh;
    top: 0;
    left:0vw;
    padding: 0;
    margin: 0;
    background-color: #01b0f1;
    border: none;


}

#returnToIndex span {
    display: inline-block;
    transform: rotate(-90deg);
    transform-origin: center;
    white-space: nowrap;
    font-size: calc(min(5vw, 5vh));
    color:#015877;
}
