
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-snap-type: none;
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* Prevent selection in Safari (iOS) */
    -moz-user-select: none;
    -ms-user-select: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    html, body {
        touch-action: none;
        overscroll-behavior: none; /* Prevents scroll bounce */
        scroll-snap-type: none;
    }
}


html {
    margin: 0;
    padding: 0;
    background-color: yellow;

    overflow: hidden;  
    overflow-y: hidden; 
    overflow-x: hidden;    
    touch-action: none; /* Prevents touch scrolling */
    overscroll-behavior: none; /* Prevents scroll bounce */
    scroll-snap-type: none;

    padding-bottom: env(safe-area-inset-bottom);

}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: white;
    
    background: black;
    touch-action: none; /* Disables all touch actions including zooming */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    padding-bottom: env(safe-area-inset-bottom);
}

button {
  width: 100%;
  height: 36px;
  padding: 11px;
  margin-top: 15px;
  background-color: #646464;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: bolder;
}

button:hover {
  background-color: #b9b9b9;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0); /* Semi-transparent black */
    color: white; /* Text color */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 9999; /* Ensure it's above other content */
}

.loading-content {
    text-align: center; /* Center the text inside the loading content */
}

#loadingText {
    display: flex; /* Use flexbox to arrange letters in a row */
    justify-content: center; /* Center the text */
    font-size: 2rem; /* Adjust size as needed */
}



@keyframes quiet {
    25%{
      transform: scaleY(.6);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(.8);
    }
  }
  
  @keyframes normal {
    25%{
      transform: scaleY(1);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(.6);
    }
  }
  @keyframes loud {
    25%{
      transform: scaleY(1);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(1.2);
    }
  }

  
  .boxContainer{
    display: flex;
    align-items: center;
    align-self: center;
    margin: auto;
    justify-content: space-between;
    height: 64px;
    --boxSize: 0.5rem;
    --gutter: 0.4rem;
    width: calc((var(--boxSize) + var(--gutter)) * 5);
    
  }
  
  .box{
    transform: scaleY(.3);
    height: 100%;
    width: var(--boxSize);
    background: #12E2DC;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    border-radius: 8px;
  }
  
  .box1{
    animation-name: quiet;
  }
  
  .box2{
    animation-name: normal;
  }
  
  .box3{
    animation-name: quiet;
  }
  
  .box4{
    animation-name: loud;
  }
  
  .box5{
    animation-name: quiet;
  }