section.world {
    z-index: 1000;
    position: absolute;
    width: 101vw;
    height: 20vh;
    left: 50%;
    bottom: -9vh;
    box-shadow: 0 15px 10px -10px #8f6e0a;
    transform: translate(-50%, -50%);
  }
  
  section.world div {
    position: absolute;
    box-sizing: border-box;
    background: #000000;
    border-radius: 2px;
  }
  
  section.world div::before, section.world div::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
  }
  
  .back {
    bottom: 0;
    right: -40%;
    background: #78b11b8c !important;
  }
  
  .back.one {
    width: 30%;
    height: 8%;
    animation: elem 2.6s linear infinite;
  }
  
  .back.two {
    width: 40%;
    height: 16%;
    animation: elem 3.3s linear infinite 1.6s;
  }
  
  .back.three {
    width: 7%;
    height: 24%;
    animation: elem 2.2s linear infinite 1s;
  }
  
  .back.four {
    width: 18%;
    height: 13%;
    animation: elem 2.8s linear infinite 0.2s;
  }
  
  .floor {
    width: 100%;
    height: 4px;
    bottom: 0;
  }
  
  .floor .rock {
    bottom: 0;
    right: -20px;
  }
  
  .floor .rock.one {
    width: 16px;
    height: 26px;
    animation: elem 3s linear infinite;
  }
  
  .floor .rock.two {
    width: 20px;
    height: 18px;
    animation: elem 3s linear infinite 0.4s;
  }
  
  .floor .rock.three {
    width: 13px;
    height: 26px;
    animation: elem 3s linear infinite 1.3s;
  }
  
  .floor .grass {
    width: 2px;
    bottom: 0;
    right: -2px;
  }
  
  .floor .grass.one {
    height: 15px;
    animation: elem 3s linear infinite;
  }
  
  .floor .grass.two {
    height: 10px;
    animation: elem 3.3s linear infinite 0.2s;
  }
  
  .floor .grass.three {
    height: 18px;
    animation: elem 2.5s linear infinite 0.4s;
  }
  
  .floor .grass.four {
    height: 5px;
    animation: elem 2.9s linear infinite 0.6s;
  }
  
  .floor .grass.five {
    height: 7px;
    animation: elem 3s linear infinite 0.8s;
  }
  
  .floor .grass.six {
    height: 10px;
    animation: elem 3.1s linear infinite 1s;
  }
  
  .floor .grass.seven {
    height: 4px;
    animation: elem 3s linear infinite 1.2s;
  }
  
  .floor .grass.height {
    height: 7px;
    animation: elem 3s linear infinite 1.4s;
  }
  
  .floor .grass.nine {
    height: 10px;
    animation: elem 3.1s linear infinite 1.6s;
  }
  
  .floor .grass.ten {
    height: 6px;
    animation: elem 3s linear infinite 1.8s;
  }
  
  .cloud {
    height: 20px;
    right: -160px;
    background: rgb(216, 215, 215) !important;

  }
  
  .cloud.one {
    width: 14vw;
    height: 8vw;
    max-width: 50px;
    max-height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 1vh;
    box-shadow:
      rgb(216, 215, 215) 10vw -1vw 0 -1vw,
      rgb(216, 215, 215) 6vw -2vw,
      rgb(216, 215, 215) 8vw 1vw,
      rgb(216, 215, 215) 14vw 2vw 0 -2vw,
      rgb(216, 215, 215) 16vw 0vw 0 -2vw;
    animation: cloud 4.4s linear infinite;
  }
  
  .cloud.two {
    width: 8vw;
    height: 8vw;
    max-width: 50px;
    max-height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 7vh;
    box-shadow:
      rgb(216, 215, 215) 7vw -1vw 0 -1vw,
      rgb(216, 215, 215) 3vw -1vw,
      rgb(216, 215, 215) 4vw 1vw,
      rgb(216, 215, 215) 8vw 2vw 0 -2vw,
      rgb(216, 215, 215) 9vw 0vw 0 -2vw;
    animation: cloud2 3.8s linear infinite 0.5s;
  }
  
  .cloud.three {
    width: 10vw;
    height: 6vw;
    max-width: 50px;
    max-height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 7vh;
    box-shadow:
      rgb(216, 215, 215) 8vw -1vw 0 -1vw,
      rgb(216, 215, 215) 5vw -1vw,
      rgb(216, 215, 215) 6vw 1vw,
      rgb(216, 215, 215) 10vw 2vw 0 -2vw,
      rgb(216, 215, 215) 13vw 0vw 0 -1vw;
    animation: cloud1 4s linear infinite 1s;
  }
  
  .cloud.four {
    width: 4vw;
    height: 2.4vw;
    max-width: 50px;
    max-height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 7vh;
    box-shadow:
      rgb(216, 215, 215) 3.2vw -0.4vw 0 -0.4vw,
      rgb(216, 215, 215) 2vw -0.4vw,
      rgb(216, 215, 215) 2.4vw 0.6vw,
      rgb(216, 215, 215) 4vw 0.8vw 0 -0.8vw,
      rgb(216, 215, 215) 5.2vw 0vw 0 -0.4vw;
    animation: cloud4 3.7s linear infinite 1s;
  }
  
  .stick {
    width: 6px;
    height: 30px;
    bottom: 30px;
    left: 50%;
    background: #333333;
    border-radius: 3px;
    animation: stick 2.2s ease-in-out infinite;
  }
  
  .stick div {
    transform-origin: 50% 0%;
  }
  
  .stick .left {
    z-index: -1;
  }
  
  .stick .right {
    z-index: 1;
  }
  
  .stick .head {
    width: 12px;
    height: 12px;
    background: #000000;
    border-radius: 50%;
    transform: translate(-3px, -14px);
  }
  
  .stick .arm {
    width: 4px;
    height: 14px;
    top: 1px;
    left: 1px;
  }
  
  .stick .arm .bottom {
    width: 4px;
    height: 12px;
    bottom: -10px;
  }
  
  .stick .leg {
    width: 4px;
    height: 20px;
    bottom: -19px;
    left: 1px;
  }
  
  .stick .leg .bottom {
    width: 4px;
    height: 15px;
    bottom: -13px;
  }
  
  .arm.left {
    animation: run 0.8s linear infinite;
  }
  
  .arm.left .bottom {
    animation: arm-bottom 0.4s linear infinite;
  }
  
  .arm.right {
    animation: run 0.8s linear infinite 0.4s;
  }
  
  .arm.right .bottom {
    animation: arm-bottom 0.4s linear infinite 0.4s;
  }
  
  .leg.left {
    animation: run 0.4s linear infinite;
  }
  
  .leg.left .bottom {
    animation: leg-bottom 0.4s linear infinite;
  }
  
  .leg.right {
    animation: run 0.4s linear infinite 0.2s;
  }
  
  .leg.right .bottom {
    animation: leg-bottom 0.4s linear infinite 0.2s;
  }
  
  @keyframes cloud {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(-190px, 5px);
    }
    50% {
      transform: translate(-380px, 10px);
    }
    75% {
      transform: translate(-570px, 5px);
    }
    100% {
      transform: translate(-760px, 0);
    }
  }
  
  @keyframes cloud1 {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(-190px, -5px);
    }
    50% {
      transform: translate(-380px, -10px);
    }
    75% {
      transform: translate(-570px, -5px);
    }
    100% {
      transform: translate(-760px, 0);
    }
  }
  
  @keyframes cloud2 {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(-190px, 4px);
    }
    50% {
      transform: translate(-380px, 8px);
    }
    75% {
      transform: translate(-570px, 4px);
    }
    100% {
      transform: translate(-760px, 0);
    }
  }
  
  @keyframes cloud4 {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(-190px, 3px);
    }
    50% {
      transform: translate(-380px, 6px);
    }
    75% {
      transform: translate(-570px, 3px);
    }
    100% {
      transform: translate(-760px, 0);
    }
  }
  
  @keyframes elem {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-640px);
    }
  }
  
  @keyframes stick {
    0%, 100% {
      transform: translateX(0px);
    }
    30% {
      transform: translateX(-60px);
    }
    70% {
      transform: translateX(20px);
    }
  }
  
  @keyframes run {
    0%, 50%, 100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(60deg);
    }
    75% {
      transform: rotate(-60deg);
    }
  }
  
  @keyframes arm-bottom {
    0%, 100% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-90deg);
    }
  }
  
  @keyframes leg-bottom {
    0%, 100% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(120deg);
    }
  }
  