* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-snap-type: none;
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* Prevent selection in Safari (iOS) */
    -moz-user-select: none;
    -ms-user-select: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    html, body {
        touch-action: none;
        overscroll-behavior: none; /* Prevents scroll bounce */
        scroll-snap-type: none;
    }
}


html {
    margin: 0;
    padding: 0;
    background-color: yellow;

    overflow: hidden;  
    overflow-y: hidden; 
    overflow-x: hidden;    
    touch-action: none; /* Prevents touch scrolling */
    overscroll-behavior: none; /* Prevents scroll bounce */
    scroll-snap-type: none;

    padding-bottom: env(safe-area-inset-bottom);

}

.mainBody {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: white;
    
    background: linear-gradient(
        to bottom,
        yellow 15%,  
        black 15%,  
        black 85%,   
        yellow 85%   
    );

    touch-action: none; /* Disables all touch actions including zooming */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    padding-bottom: env(safe-area-inset-bottom);
}

.login-container {
    z-index: 5;
    background-color: rgba(255, 255, 0, 0.103);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 80vw;
    max-width: 400px;
    height: 60vh;
    text-align: center;
    border: 1px solid black;
    animation: rgb-border 15s infinite; 
    border-width: 3px; /* Make the border a bit thicker to highlight the effect */
    position: relative;
}

h2 {
    margin-bottom: 20px;
    color: #ffffff;
}

.input-container {
    margin-bottom: 15px;
    text-align: left;
}

label {
    margin-bottom: 5px;
    display: block;
    color: #555;
}

input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    height: 36px;
    padding: 11px;
    margin-top: 15px;
    background-color: #646464;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bolder;
}

#gradient-submit {
    text-align: center;
    align-items: center;
    padding: 2px;
    vertical-align: middle;
    background: linear-gradient(
        to bottom,
        yellow 15%,  /* Top third */
        black 15%,   /* Middle third */
        black 85%,   /* Middle third */
        yellow 85%   /* Bottom third */
    );

    border: 1px solid white;
}

button:hover {
    background-color: #b9b9b9;
}

.error-message {
    color: red;
    margin-top: 10px;
}


.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0;
}

.custom-dropdown, 
.custom-dropdown * {
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* Prevent selection in Safari (iOS) */
    -moz-user-select: none;
    -ms-user-select: none;
}


.customButton {
    width: 100%;
    padding: 12px; /* Increased padding for better appearance */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(82, 80, 80); /* Match color */
    color: black; /* Changed text color to white for contrast */
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px; /* Adjust font size for consistency */
    margin-bottom: 0;
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Align it exactly below the button */
    left: 0; /* Ensure it's aligned with the button's left edge */
    width: 100%; /* Match the width of the button */
    background-color: rgb(82, 80, 80); /* Match the button's background */
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0; /* Reset padding */
}

.dropdown-item {

    padding: 12px;
    width: 100%;
    border-bottom: 1px solid #ccc; /* Light border between items */
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    color: rgb(0, 0, 0); /* Text color matching the button */
    font-weight: bolder;
    background-color: rgb(82, 80, 80); /* Match the dropdown background */
    user-select: none;
}

.dropdown-item:last-child {
    border-bottom: none; /* Remove border from last item */
}

.dropdown-item:hover {
    background-color: #b9b9b9; /* Slight hover effect to indicate selection */
}

.show {
    display: block;
}

.passwordLabel{
    text-align: center;
    color:#ffffff;
    margin-top: 10px;
    
}



.teamIcon {
    margin: 0;
    font-size: 24px; /* Adjust size as needed */
    line-height: 1; /* Prevent extra spacing between icons */
    
}
#option-green { background-color: #92d14f; }
#option-purple { background-color: #cd66ff; }
#option-blue { background-color: #01b0f1; }
#option-orange { background-color: #ffc000; }
#option-yellow { background-color: yellow; } 
#option-admin { background-color: red; }

@keyframes rgb-border {
    0% { 
        border-color: #3ff707; 
        box-shadow: 0 0 20px #3ff707;
    }
    10% {
        border-color: #0ae88c; 
        box-shadow: 0 0 20px #0ae88c;
    }
    20% {
        border-color: #0191f1; 
        box-shadow: 0 0 20px #0191f1;
    }
    30% {
        border-color: #5b2cff; 
        box-shadow: 0 0 20px #5b2cff;
    }
    40% {
        border-color: #cd66ff; 
        box-shadow: 0 0 20px #cd66ff;
    }
    50% {
        border-color: #ff8f66; 
        box-shadow: 0 0 20px #ff8f66;
    }
    60% {
        border-color: #ffa600; 
        box-shadow: 0 0 20px #ffa600; 
    }
    70% {
        border-color: #ffbf33; 
        box-shadow: 0 0 20px #ffbf33;
    }
    80% {
        border-color: rgb(255, 255, 0); 
        box-shadow: 0 0 20px rgb(255, 255, 0);
    }
    90% {
        border-color: #ccff00; 
        box-shadow: 0 0 20px #ccff00;
    }
    100% {
        border-color: #3ff707; 
        box-shadow: 0 0 20px #3ff707;
    }
}



/* For the copyright */
#copyright {
    position: absolute;
    bottom: 10px; /* Adjust this value for spacing from the bottom */
    left: 10px; /* Adjust this value for spacing from the left */
    font-size: 10px; /* Small font size */
    color: #555; /* Optional: color to match the style */
    text-align: left; /* Align text to the left */
}

/* For the trademarks (TM) */
#trademarks {
    position: absolute;
    bottom: 10px; /* Adjust this value for spacing from the bottom */
    right: 10px; /* Adjust this value for spacing from the right */
    font-size: 10px; /* Small font size */
    color: #555; /* Optional: color to match the style */
    text-align: right; /* Align text to the right */
}



.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0); /* Semi-transparent black */
    color: white; /* Text color */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 9999; /* Ensure it's above other content */
    display: none; /* Initially hidden */
}

.loading-content {
    text-align: center; /* Center the text inside the loading content */
}

#loadingText {
    display: flex; /* Use flexbox to arrange letters in a row */
    justify-content: center; /* Center the text */
    font-size: 2rem; /* Adjust size as needed */
}

@keyframes quiet {
    25%{
      transform: scaleY(.6);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(.8);
    }
  }
  
  @keyframes normal {
    25%{
      transform: scaleY(1);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(.6);
    }
  }
  @keyframes loud {
    25%{
      transform: scaleY(1);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(1.2);
    }
  }

  
  .boxContainer{
    display: flex;
    align-items: center;
    align-self: center;
    margin: auto;
    justify-content: space-between;
    height: 64px;
    --boxSize: 0.5rem;
    --gutter: 0.4rem;
    width: calc((var(--boxSize) + var(--gutter)) * 5);
    
  }
  
  .box{
    transform: scaleY(.3);
    height: 100%;
    width: var(--boxSize);
    background: #12E2DC;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    border-radius: 8px;
  }
  
  .box1{
    animation-name: quiet;
  }
  
  .box2{
    animation-name: normal;
  }
  
  .box3{
    animation-name: quiet;
  }
  
  .box4{
    animation-name: loud;
  }
  
  .box5{
    animation-name: quiet;
  }