* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-snap-type: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    html, body {
        touch-action: none;
    }
}

html {
    margin: 0;
    padding: 0;
    background-color: yellow;

    overflow: hidden;  
    overflow-y: hidden; 
    overflow-x: hidden;    
    touch-action: none; /* Prevents touch scrolling */
    overscroll-behavior: none; /* Prevents scroll bounce */
    scroll-snap-type: none;

    padding-bottom: env(safe-area-inset-bottom);

}

.mainBody {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
        to bottom,
        yellow 33.33%,  /* Top third */
        black 33.33%,   /* Middle third */
        black 66.66%,   /* Middle third */
        yellow 66.66%   /* Bottom third */
    );
    touch-action: none; /* Disables all touch actions including zooming */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    padding-bottom: env(safe-area-inset-bottom);
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 80vw;
    max-width: 400px;
    height: 60vh;
    text-align: center;
    border: 3px solid black;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-container {
    margin-bottom: 15px;
    text-align: left;
}

label {
    margin-bottom: 5px;
    display: block;
    color: #555;
}

input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #b9b9b9;
}

.error-message {
    color: red;
    margin-top: 10px;
}


.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-button {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: #333;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
}

.show {
    display: block;
}
/* Color Styles for Each Team - Consider using a custom dropdown */
#option-green { background-color: #92d14f; }
#option-purple { background-color: #cd66ff; }
#option-blue { background-color: #01b0f1; }
#option-orange { background-color: #ffc000; }
#option-yellow { background-color: yellow; } 
#option-admin { background-color: red; }


