* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-snap-type: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    html, body {
        touch-action: none;
        overscroll-behavior: none; /* Prevents scroll bounce */
        scroll-snap-type: none;
    }
}

html {
    margin: 0;
    padding: 0;
    background-color: yellow;

    overflow: hidden;  
    overflow-y: hidden; 
    overflow-x: hidden;    
    touch-action: none; /* Prevents touch scrolling */
    overscroll-behavior: none; /* Prevents scroll bounce */
    scroll-snap-type: none;

    padding-bottom: env(safe-area-inset-bottom);

}

.mainBody {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background: linear-gradient(
        to bottom,
        yellow 33.33%,  
        black 33.33%,  
        black 66.66%,   
        yellow 66.66%   
    ); */
    background-color: #2cebeb;
    touch-action: none; /* Disables all touch actions including zooming */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    padding-bottom: env(safe-area-inset-bottom);
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 80vw;
    max-width: 400px;
    height: 60vh;
    text-align: center;
    border: 3px solid black;
    animation: rgb-border 5s infinite; 
    border-width: 3px; /* Make the border a bit thicker to highlight the effect */
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-container {
    margin-bottom: 15px;
    text-align: left;
}

label {
    margin-bottom: 5px;
    display: block;
    color: #555;
}

input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    height: 36px;
    padding: 11px;
    margin-top: 15px;
    background-color: #646464;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bolder;
}

#gradient-submit {
    background: linear-gradient(
        to bottom,
        yellow 20%,  /* Top third */
        black 20%,   /* Middle third */
        black 80%,   /* Middle third */
        yellow 80%   /* Bottom third */
    );
    /* background: #6faf2b; */
}

button:hover {
    background-color: #b9b9b9;
}

.error-message {
    color: red;
    margin-top: 10px;
}


.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
}

.dropdown-button {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(82, 80, 80);
    color: #333;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    
}

.passwordLabel{
    text-align: center;
    color:#333;
    
}

.teamIcon {
    margin: 0;
    font-size: 24px; /* Adjust size as needed */
    line-height: 1; /* Prevent extra spacing between icons */
    
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 49px;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid black;

}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
    text-align: left;

}

.show {
    display: block;
}
/* Color Styles for Each Team - Consider using a custom dropdown */
#option-green { background-color: #92d14f; }
#option-purple { background-color: #cd66ff; }
#option-blue { background-color: #01b0f1; }
#option-orange { background-color: #ffc000; }
#option-yellow { background-color: yellow; } 
#option-admin { background-color: red; }


@keyframes rgb-border {
    0% {
        border-color: #cd66ff; /* Red */
        box-shadow: 0 0 10px #cd66ff;
    }
    25% {
        border-color: #ffa600; /* Red */
        box-shadow: 0 0 10px #ffa600; 
    }
    50% {
        border-color: #0119f1; /* Blue */
        box-shadow: 0 0 10px #0119f1;
    }
    75% {
        border-color: rgb(255, 255, 0); /* Yellow */
        box-shadow: 0 0 10px rgb(255, 255, 0);
    }
    100% {
        
        border-color: #3ff707;/* Green */
        box-shadow: 0 0 10px#3ff707;
    }
}