* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    overflow: hidden;  
    overflow-y: hidden; 
    overflow-x: hidden;    
    background-color: yellow;
    touch-action: none; /* Prevents touch scrolling */
    overscroll-behavior: none; /* Prevents scroll bounce */
}

.mainBody {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
        to bottom,
        yellow 33%,  /* Top third */
        black 33%,   /* Middle third */
        black 66%,   /* Middle third */
        yellow 66%   /* Bottom third */
    );
}

.login-container {
    background-color: white;
    padding: 2vw;
    border-radius: 0.5vw;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
    width: 80vw;
    height: 60vh;
    text-align: center;
    border: 0.3vw solid black;
}

h2 {
    margin-bottom: 2vw;
    color: #333;
}

.input-container {
    margin-bottom: 2vw; /* Responsive spacing */
    text-align: left;
}

label {
    margin-bottom: 1vw;
    display: block;
    color: #555;
}

input,
button,
.dropdown-button {
    width: 100%;
    padding: 1vw;
    border-radius: 0.5vw;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
    font-size: 1vw; /* Adjust as needed for consistent sizing */
}

input {
    border: 1px solid #555;
}

button {
    background-color: yellow;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-top: 1vw; /* Space between input and button */
}

.dropdown-button {
    border: 1px solid #ccc;
    background-color: white;
    color: #333;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0.5vw;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-item {
    padding: 1vw;
    font-size: calc(min(5vw, 5vh));
    text-align: left;
    cursor: pointer;
}

.show {
    display: block;
}

.error-message {
    color: red;
    margin-top: 1vw;
}

/* Color Styles for Each Team - Consider using a custom dropdown */
.option-green { background-color: greenyellow; }
.option-purple { background-color: rgb(206, 63, 206); }
.option-blue { background-color: rgb(24, 199, 223); }
.option-orange { background-color: rgb(233, 117, 8); }
.option-yellow { background-color: yellow; }
.option-admin { background-color: rgb(255, 0, 0); }
