* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    overflow: hidden;  
    overflow-y: hidden; 
    overflow-x: hidden;    
    background: linear-gradient(
        to bottom,
        yellow 33.33%,  /* Top third */
        black 33.33%,   /* Middle third */
        black 66.66%,   /* Middle third */
        yellow 66.66%   /* Bottom third */
    );
    position:absolute;
}

.mainBody {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 80vw;
    max-width: 400px;
    height: 60vh;
    text-align: center;
    border: 3px solid black;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-container {
    margin-bottom: 15px;
    text-align: left;
}

label {
    margin-bottom: 5px;
    display: block;
    color: #555;
}

input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.error-message {
    color: red;
    margin-top: 10px;
}

/* Color Styles for Each Team - Consider using a custom dropdown */
option[value="green"] {
    background-color: greenyellow;
}

option[value="purple"] {
    background-color: rgb(206, 63, 206);
}

option[value="blue"] {
    background-color: rgb(24, 199, 223);
}

option[value="orange"] {
    background-color: rgb(233, 117, 8);
}

option[value="yellow"] {
    background-color: yellow;
}

option[value="admin"] {
    background-color: rgb(255, 0, 0);
}
