html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;  
    width: 100vw;      
    height: 100vh;     
}

body {
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.threeStripe{
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: flex;
    justify-content: center; /* Horizontally centers middleStripe */
}

.middleStripe{
    width: 60vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#content{
    color: white;
    width: 100vh; 
    height: 60vw;
    transform: rotate(-90deg); 
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    font-size: calc(min(8vw, 8vh));
    padding: min(2vh, 2vw);
}

#returnToIndex {
    position: absolute;
    width: 10vh;
    height: 10vw;
    z-index: 1;
    top: 0;
    left: 0;

}